.container {
    border: 1px;
    border-color: black;
    border-style: ridge;
    margin: 5px;
    text-align: center;
}

h2 {
    margin: 4px;
}

h3 {
    margin: 0px;
    text-decoration: underline;
}